numpy
pandas
mock
scipy
joblib
flufl.lock
-e git+ssh://git@stash.ihme.washington.edu:7999/cp/db_tools.git#egg=db_tools
-e git+ssh://git@stash.ihme.washington.edu:7999/cste/ceam-inputs.git#egg=ceam_inputs
-e git+ssh://git@stash.ihme.washington.edu:7999/cste/ceam-public-health.git#egg=ceam_public_health
-e git+ssh://git@stash.ihme.washington.edu:7999/cc/hierarchies.git#egg=hierarchies
