numpy
pandas
mock
scipy
joblib
flufl.lock
-e git+ssh://git@stash.ihme.washington.edu:7999/cste/ceam-inputs.git#egg=ceam_inputs
-e git+ssh://git@stash.ihme.washington.edu:7999/cste/ceam-public-health.git#egg=ceam_public_health
